<main>
    <section>
        <div *ngIf="keyboardList && keyboardList.length > 0">
            <app-table-data [titulo]="title" [columns]="columnas" [data]="keyboardList" (action)="onAction($event)">
            </app-table-data>
            <div>
                <app-progress-bar
                    [message]="'Espere porfavor cargando teclados...'"
                    [isLoading]="isLoading"></app-progress-bar>
            </div>
        </div>

        <div *ngIf="!keyboardList || keyboardList.length === 0">
            <app-progress-bar
                    [message]="'Espere porfavor cargando teclados...'"
                    [isLoading]="isLoading"></app-progress-bar>
            
        </div>
    </section>
</main>